*.dll
*.exe
*.pak
locales/
swiftshader/
icudtl.dat
v8_context_snapshot.bin
credits.html
nwjc.exe
notification_helper.exe
chromedriver.exe
debug.log
resources.pak

stats.json
settings.json
names.json
icons.json
tray.flag
debug-tray.log

*.tmp
node_modules/.gitignore